In [36]:
import pandas as pd

In [37]:
data = pd.read_json("data/train.json")

In [38]:
data

,pre_text,post_text,filename,table_ori,table,qa,id,annotation,qa_0,qa_1
0,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
1,[substantially all of the goodwill and other i...,[the above unaudited pro forma financial infor...,RSG/2008/page_114.pdf,"[[, Year Ended December 31, 2008 (Unaudited), ...","[[, year ended december 31 2008 ( unaudited ),...",{'question': 'what was the percent of the grow...,Single_RSG/2008/page_114.pdf-2,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
2,[in a new business model such as the retail se...,[.],AAPL/2002/page_23.pdf,"[[, 2002, 2001, 2000], [Net sales, $5,742, $5,...","[[, 2002, 2001, 2000], [net sales, $ 5742, $ 5...",{'question': 'what was the percentage change i...,Single_AAPL/2002/page_23.pdf-1,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
3,[( 1 ) includes shares repurchased through our...,[.],UPS/2009/page_33.pdf,"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...","[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",{'question': 'what was the difference in perce...,Single_UPS/2009/page_33.pdf-2,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
4,[( 1 ) includes shares repurchased through our...,[.],UPS/2009/page_33.pdf,"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...","[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",NaN,Double_UPS/2009/page_33.pdf,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what is the roi of an investment...,{'question': 'what was the difference in perce...
...,...,...,...,...,...,...,...,...,...,...
3032,[contractual obligations we summarize our enfo...,[( 1 ) includes only principal payments owed o...,WRK/2018/page_56.pdf,"[[, Payments Due by Period], [(In millions), T...","[[( in millions ), payments due by period tota...",NaN,Double_WRK/2018/page_56.pdf,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what percent of payments are dif...,{'question': 'what would the purchase obligati...
3033,[critical accounting estimates our consolidate...,[( 1 ) net of provision for uncollectible rein...,CB/2009/page_81.pdf,"[[, 2009, 2008], [(in millions of U.S. dollars...","[[( in millions of u.s . dollars ), 2009 gross...",{'question': 'what is the percentage change in...,Single_CB/2009/page_81.pdf-1,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
3034,[income taxes american water and its subsidiar...,[environmental costs the company 2019s water a...,AWK/2017/page_128.pdf,"[[, 2017, 2016, 2015], [Allowance for other fu...","[[, 2017, 2016, 2015], [allowance for other fu...",NaN,Double_AWK/2017/page_128.pdf,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what was the combined amount of ...,{'question': 'what percentage of total afudc i...
3035,[transfer agent and registrar for common stock...,"[1 included shares of our common stock , par v...",IPG/2015/page_24.pdf,"[[, Total Number ofShares (or Units)Purchased<...","[[, total number ofshares ( or units ) purchas...",NaN,Double_IPG/2015/page_24.pdf,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what is the total cash used for ...,{'question': 'what percentage of total shares ...
3036,[table of contents ( 4 ) the increase in cash ...,[( 1 ) represents the rolling three-month aver...,CDW/2017/page_56.pdf,"[[, December 31,], [(in days), 2017, 2016, 201...","[[( in days ), december 31 , 2017, december 31...",{'question': 'what was the average capital exp...,Single_CDW/2017/page_56.pdf-2,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN

In [39]:
data.describe()

,pre_text,post_text,filename,table_ori,table,qa,id,annotation,qa_0,qa_1
count,3037,3037,3037,3037,3037,2109,3037,3037,928,928
unique,1574,1411,1588,1581,1581,2095,3037,3037,928,928
top,[.],[.],RE/2010/page_138.pdf,"[[(Dollars in thousands), 2010, 2009, 2008], [...","[[( dollars in thousands ), 2010, 2009, 2008],...",{'question': 'how much more return was given f...,Single_CDW/2017/page_56.pdf-2,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what is the pre-tax aggregate ne...,{'question': 'what was the change in the unrea...
freq,12,308,7,7,7,2,1,1,1,1

In [40]:
data['annotation'][102]

{'amt_table': "<table class='wikitable'><tr><td>1</td><td></td><td>shares ( in millions )</td></tr><tr><td>2</td><td>$ 11.00</td><td>0.9</td></tr><tr><td>3</td><td>$ 12.00</td><td>4.7</td></tr><tr><td>4</td><td>$ 13.00</td><td>7.9</td></tr><tr><td>5</td><td>$ 14.00</td><td>10.7</td></tr><tr><td>6</td><td>$ 15.00</td><td>13.0</td></tr><tr><td>7</td><td>$ 16.00</td><td>15.1</td></tr><tr><td>8</td><td>$ 17.00</td><td>17.0</td></tr><tr><td>9</td><td>$ 18.00</td><td>18.6</td></tr><tr><td>10</td><td>$ 19.00</td><td>20.1</td></tr><tr><td>11</td><td>$ 20.00</td><td>21.4</td></tr></table>",
 'amt_pre_text': 'all highly liquid securities with a maturity of three months or less at the date of purchase are considered to be cash equivalents . securities with maturities greater than three months are classified as available-for-sale and are considered to be short-term investments . the carrying value of our interest-bearing instruments approximated fair value as of december 29 , 2012 . interest rates under our revolving credit facility are variable , so interest expense for periods when the credit facility is utilized could be adversely affected by changes in interest rates . interest rates under our revolving credit facility can fluctuate based on changes in market interest rates and in an interest rate margin that varies based on our consolidated leverage ratio . as of december 29 , 2012 , we had no outstanding balance on the credit facility . see note 3 in the notes to consolidated financial statements for an additional description of our credit facility . equity price risk convertible notes our 2015 notes and 2013 notes include conversion and settlement provisions that are based on the price of our common stock at conversion or at maturity of the notes . in addition , the hedges and warrants associated with these convertible notes also include settlement provisions that are based on the price of our common stock . the amount of cash we may be required to pay , or the number of shares we may be required to provide to note holders at conversion or maturity of these notes , is determined by the price of our common stock . the amount of cash or number of shares that we may receive from hedge counterparties in connection with the related hedges and the number of shares that we may be required to provide warrant counterparties in connection with the related warrants are also determined by the price of our common stock . upon the expiration of our 2015 warrants , cadence will issue shares of common stock to the purchasers of the warrants to the extent our stock price exceeds the warrant strike price of $ 10.78 at that time . the following table shows the number of shares that cadence would issue to 2015 warrant counterparties at expiration of the warrants , assuming various cadence closing stock prices on the dates of warrant expiration : shares ( in millions ) .',
 'amt_post_text': 'prior to the expiration of the 2015 warrants , for purposes of calculating diluted earnings per share , our diluted weighted-average shares outstanding will increase when our average closing stock price for a quarter exceeds $ 10.78 . for an additional description of our 2015 notes and 2013 notes , see note 3 in the notes to consolidated financial statements and 201cliquidity and capital resources 2014 other factors affecting liquidity and capital resources , 201d under item 7 , 201cmanagement 2019s discussion and analysis of financial condition and results of operations . 201d .',
 'original_program': 'subtract(21.4, 0.9), divide(A0, 0.9)',
 'step_list': ['Ask for number 21.4',
  'Ask for number 0.9',
  'subtract(21.4, 0.9)',
  'divide(A0, 0.9)'],
 'answer_list': ['21.4', '0.9', 'A0', 'A1'],
 'dialogue_break': ['what was the number of shares if the closing price is $20?',
  'and if the closing price is $11?',
  'so what is the difference in shares to be issued in these two scenarios?',
  'and the percentage difference in the number of shares to be issued if the stock price closes at $11 over $20?'],
 'turn_program_ori': ['21.4',
  '0.9',
  'subtract(21.4, 0.9)',
  'subtract(21.4, 0.9), divide(#0, 0.9)'],
 'dialogue_break_ori': ['what was the number of shares if the closing price is $20?',
  'and if the closing price is $11?',
  'so what is the difference in shares to be issued in these two scenarios?',
  'and the percentage difference in the number of shares to be issued if the stock price closes at $11 over $20?'],
 'turn_program': ['21.4',
  '0.9',
  'subtract(21.4, 0.9)',
  'subtract(21.4, 0.9), divide(#0, 0.9)'],
 'qa_split': [0, 0, 0, 0],
 'exe_ans_list': [21.4, 0.9, 20.5, 22.77778]}

In [41]:
data['qa_0'][101]

{'question': 'what was the difference in millions of the accumulated benefit obligation as of december 31 , 2016 versus the projected benefit obligation?',
 'answer': '-1',
 'explanation': 'looking to see if there is a large unfunded obligation hanging out there .',
 'ann_table_rows': [],
 'ann_text_rows': [21],
 'steps': [{'op': 'minus1-1', 'arg1': '49', 'arg2': '50', 'res': '-1'}],
 'program': 'subtract(49, 50)',
 'gold_inds': {'text_21': 'the accumulated benefit obligation as of december 31 , 2016 and 2015 , was $ 49 million and $ 48 million , respectively , and the projected benefit obligation was $ 50 million and $ 49 million , respectively .'},
 'exe_ans': -1.0,
 'program_re': 'subtract(49, 50)'}

In [42]:
data['annotation'][101]

{'amt_table': "<table class='wikitable'><tr><td>1</td><td></td><td>2016</td><td>2015</td><td>2014</td></tr><tr><td>2</td><td>risk free interest rate</td><td>1.2% ( 1.2 % )</td><td>1.4% ( 1.4 % )</td><td>1.4% ( 1.4 % )</td></tr><tr><td>3</td><td>volatility</td><td>20.4% ( 20.4 % )</td><td>21.7% ( 21.7 % )</td><td>21.2% ( 21.2 % )</td></tr><tr><td>4</td><td>dividend yield</td><td>1.6% ( 1.6 % )</td><td>1.6% ( 1.6 % )</td><td>1.6% ( 1.6 % )</td></tr><tr><td>5</td><td>weighted average expected life ( years )</td><td>4.2</td><td>4.2</td><td>4.2</td></tr></table>",
 'amt_pre_text': 'fidelity national information services , inc . and subsidiaries notes to consolidated financial statements - ( continued ) ( a ) intrinsic value is based on a closing stock price as of december 31 , 2016 of $ 75.64 . the weighted average fair value of options granted during the years ended december 31 , 2016 , 2015 and 2014 was estimated to be $ 9.35 , $ 10.67 and $ 9.15 , respectively , using the black-scholes option pricing model with the assumptions below: .',
 'amt_post_text': 'the company estimates future forfeitures at the time of grant and revises those estimates in subsequent periods if actual forfeitures differ from those estimates . the company bases the risk-free interest rate that is used in the stock option valuation model on u.s . n treasury securities issued with maturities similar to the expected term of the options . the expected stock volatility factor is determined using historical daily price changes of the company\'s common stock over the most recent period commensurate with the expected term of the option and the impact of any expected trends . the dividend yield assumption is based on the current dividend yield at the grant tt date or management\'s forecasted expectations . the expected life assumption is determined by calculating the average term from the tt company\'s historical stock option activity and considering the impact of expected future trends . the company granted a total of 1 million restricted stock shares at prices ranging from $ 56.44 to $ 79.41 on various dates in 2016 . the company granted a total of 1 million restricted stock shares at prices ranging from $ 61.33 to $ 69.33 on various dates in 20t 15 . the company granted a total of 1 million restricted stock shares at prices ranging from $ 52.85 to $ 64.04 on various dates in 2014 . these shares were granted at the closing market price on the date of grant and vest annually over three years . as of december 31 , 2016 and 2015 , we have approximately 3 million and 4 million unvested restricted shares remaining . the december 31 , 2016 balance includes those rsu\'s converted in connection with the sungard acquisition as noted above . the company has provided for total stock compensation expense of $ 137 million , $ 98 million and $ 56 million for the years ended december 31 , 2016 , 2015 and 2014 , respectively , which is included in selling , general , and administrative expense in the consolidated statements of earnings , unless the expense is attributable to a discontinued operation . of the total stock compensation expense , $ 2 million for 2014 relates to liability based awards that will not be credited to additional paid in capital until issued . total d compensation expense for 2016 and 2015 did not include amounts relating to liability based awards . as of december 31 , 2016 and 2015 , the total unrecognized compensation cost related to non-vested stock awards is $ 141 million and $ 206 million , respectively , which is expected to be recognized in pre-tax income over a weighted average period of 1.4 years and 1.6 years , respectively . german pension plans our german operations have unfunded , defined benefit plan obligations . these obligations relate to benefits to be paid to germanaa employees upon retirement . the accumulated benefit obligation as of december 31 , 2016 and 2015 , was $ 49 million and $ 48 million , respectively , and the projected benefit obligation was $ 50 million and $ 49 million , respectively . the plan remains unfunded as of december 31 , 2016 . ( 15 ) divestitures and discontinued operations on december 7 , 2016 , the company entered into a definitive agreement to sell the sungard public sector and education ( "ps&e" ) businesses for $ 850 million . the transaction included all ps&e solutions , which provide a comprehensive set of technology solutions to address public safety and public administration needs of government entities as well asn the needs of k-12 school districts . the divestiture is consistent with our strategy to serve the financial services markets . we received cash proceeds , net of taxes and transaction-related expenses of approximately $ 500 million . net cash proceeds are expected to be used to reduce outstanding debt ( see note 10 ) . the ps&e businesses are included in the corporate and other segment . the transaction closed on february 1 , 2017 , resulting in an expected pre-tax gain ranging from $ 85 million to $ 90 million that will .',
 'original_program_0': 'subtract(49, 50)',
 'step_list_0': ['subtract(49, 50)'],
 'answer_list_0': ['#0'],
 'original_program_1': 'subtract(9.35, 10.67), divide(#0, 10.67)',
 'step_list_1': ['subtract(9.35, 10.67)', 'divide(#0, 10.67)'],
 'answer_list_1': ['#0', '#1'],
 'offset': 1,
 'step_list': ['subtract(49, 50)',
  'subtract(9.35, 10.67)',
  'divide(#1, 10.67)'],
 'answer_list': ['#0', '#1', '#2'],
 'dialogue_break': ['as of december 31, 2016, what was the difference between the accumulated benefit obligation and the projected one?',
  'and from 2015 to that year, what was the change in the fair value of options?',
  'what is this change as a percentage of that fair value in 2015?'],
 'turn_program_ori': ['subtract(49, 50)',
  'subtract(9.35, 10.67)',
  'subtract(9.35, 10.67), divide(#0, 10.67)'],
 'dialogue_break_ori': ['as of december 31, 2016, what was the difference between the accumulated benefit obligation and the projected one?',
  'and from 2015 to that year, what was the change in the fair value of options?',
  'what is this change as a percentage of that fair value in 2015?'],
 'turn_program': ['subtract(49, 50)',
  'subtract(9.35, 10.67)',
  'subtract(9.35, 10.67), divide(#0, 10.67)'],
 'qa_split': [0, 1, 1],
 'exe_ans_list': [-1.0, -1.32, -0.12371000000000001]}

In [43]:
data_cut = data.copy()
data_cut = data_cut[['id', 'filename','pre_text', 'post_text', 'table_ori', 'qa']]
data_cut = data_cut[data_cut['qa'].notna()]

In [44]:
data_cut

,id,filename,pre_text,post_text,table_ori,qa
0,Single_JKHY/2009/page_28.pdf-3,JKHY/2009/page_28.pdf,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...","[[, Year ended June 30, 2009], [2008, 2007], [...",{'question': 'what was the percentage change i...
1,Single_RSG/2008/page_114.pdf-2,RSG/2008/page_114.pdf,[substantially all of the goodwill and other i...,[the above unaudited pro forma financial infor...,"[[, Year Ended December 31, 2008 (Unaudited), ...",{'question': 'what was the percent of the grow...
2,Single_AAPL/2002/page_23.pdf-1,AAPL/2002/page_23.pdf,[in a new business model such as the retail se...,[.],"[[, 2002, 2001, 2000], [Net sales, $5,742, $5,...",{'question': 'what was the percentage change i...
3,Single_UPS/2009/page_33.pdf-2,UPS/2009/page_33.pdf,[( 1 ) includes shares repurchased through our...,[.],"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",{'question': 'what was the difference in perce...
5,Single_CE/2010/page_134.pdf-2,CE/2010/page_134.pdf,[tax returns for 2001 and beyond are open for ...,[upon the termination of a participant 2019s e...,"[[, Shares Available for Awards, Shares Subj...",{'question': 'what portion of the total shares...
...,...,...,...,...,...,...
3029,Single_IP/2012/page_64.pdf-1,IP/2012/page_64.pdf,[through current cash balances and cash from o...,[( a ) total debt includes scheduled principal...,"[[In millions, 2013, 2014, 2015, 2016, 2017, T...",{'question': 'what percentage of contractual o...
3030,Single_ETR/2008/page_313.pdf-2,ETR/2008/page_313.pdf,"[entergy louisiana , llc management's financia...",[the retail electric price variance is primari...,"[[, Amount (In Millions)], [2007 net revenue, ...",{'question': 'what is the net change in net re...
3031,Single_HII/2012/page_86.pdf-1,HII/2012/page_86.pdf,[income and franchise tax provisions are alloc...,[the company evaluates the recoverability of i...,"[[, Years], [Land improvements, 3, -, 45], [Bu...",{'question': 'wha is the percentage change in ...
3033,Single_CB/2009/page_81.pdf-1,CB/2009/page_81.pdf,[critical accounting estimates our consolidate...,[( 1 ) net of provision for uncollectible rein...,"[[, 2009, 2008], [(in millions of U.S. dollars...",{'question': 'what is the percentage change in...
3036,Single_CDW/2017/page_56.pdf-2,CDW/2017/page_56.pdf,[table of contents ( 4 ) the increase in cash ...,[( 1 ) represents the rolling three-month aver...,"[[, December 31,], [(in days), 2017, 2016, 201...",{'question': 'what was the average capital exp...

In [45]:

# Extracting the desired fields
data_cut['company'] = data_cut['filename'].apply(lambda x: x.split('/')[0])
data_cut['year'] = data_cut['filename'].apply(lambda x: x.split('/')[1])

data_cut['question'] = data_cut['qa'].apply(lambda x: x.get('question'))
data_cut['steps'] = data_cut['qa'].apply(lambda x: x.get('steps'))
data_cut['program'] = data_cut['qa'].apply(lambda x: x.get('program'))
data_cut['answer'] = data_cut['qa'].apply(lambda x: x.get('answer'))
data_cut['exe_answer'] = data_cut['qa'].apply(lambda x: x.get('exe_ans'))
data_cut['str_exe_answer'] = data_cut['exe_answer'].apply(lambda x: x if isinstance(x, str) else None)
data_cut['exe_answer'] = data_cut.apply(
    lambda row: data_cut['exe_answer'][row.name] if row['str_exe_answer'] is None else 0.0,
    axis=1
)

In [46]:
data_cut.columns

Index(['id', 'filename', 'pre_text', 'post_text', 'table_ori', 'qa', 'company',
       'year', 'question', 'steps', 'program', 'answer', 'exe_answer',
       'str_exe_answer'],
      dtype='object')

In [47]:
data_cut = data_cut.drop('qa', axis=1)

data_cut = data_cut[['id', 'company',
       'year','filename', 'pre_text', 'post_text', 'table_ori',
       'question', 'steps', 'program', 'answer', 'exe_answer', 'str_exe_answer']]

data_cut

,id,company,year,filename,pre_text,post_text,table_ori,question,steps,program,answer,exe_answer,str_exe_answer
0,Single_JKHY/2009/page_28.pdf-3,JKHY,2009,JKHY/2009/page_28.pdf,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...","[[, Year ended June 30, 2009], [2008, 2007], [...",what was the percentage change in the net cash...,"[{'op': 'minus2-1', 'arg1': '206588', 'arg2': ...","subtract(206588, 181001), divide(#0, 181001)",14.1%,0.14136,None
1,Single_RSG/2008/page_114.pdf-2,RSG,2008,RSG/2008/page_114.pdf,[substantially all of the goodwill and other i...,[the above unaudited pro forma financial infor...,"[[, Year Ended December 31, 2008 (Unaudited), ...",what was the percent of the growth in the reve...,"[{'op': 'minus2-1', 'arg1': '9362.2', 'arg2': ...","subtract(9362.2, 9244.9), divide(#0, 9244.9)",1.3%,0.01269,None
2,Single_AAPL/2002/page_23.pdf-1,AAPL,2002,AAPL/2002/page_23.pdf,[in a new business model such as the retail se...,[.],"[[, 2002, 2001, 2000], [Net sales, $5,742, $5,...",what was the percentage change in net sales fr...,"[{'op': 'minus1-1', 'arg1': '5363', 'arg2': '7...","subtract(5363, 7983), divide(#0, 7983)",-32%,-0.32820,None
3,Single_UPS/2009/page_33.pdf-2,UPS,2009,UPS/2009/page_33.pdf,[( 1 ) includes shares repurchased through our...,[.],"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",what was the difference in percentage cumulati...,"[{'op': 'minus2-1', 'arg1': '75.95', 'arg2': '...","subtract(75.95, const_100), divide(#0, const_1...",-26.16%,-0.26160,None
5,Single_CE/2010/page_134.pdf-2,CE,2010,CE/2010/page_134.pdf,[tax returns for 2001 and beyond are open for ...,[upon the termination of a participant 2019s e...,"[[, Shares Available for Awards, Shares Subj...",what portion of the total shares subject to ou...,"[{'op': 'add2-1', 'arg1': '2530454', 'arg2': '...","add(2530454, 5923147), divide(5923147, #0)",70.1%,0.70067,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3029,Single_IP/2012/page_64.pdf-1,IP,2012,IP/2012/page_64.pdf,[through current cash balances and cash from o...,[( a ) total debt includes scheduled principal...,"[[In millions, 2013, 2014, 2015, 2016, 2017, T...",what percentage of contractual obligations for...,"[{'op': 'add1-1', 'arg1': '198', 'arg2': '3213...","add(198, 3213), divide(#0, 3855)",88%,0.88482,None
3030,Single_ETR/2008/page_313.pdf-2,ETR,2008,ETR/2008/page_313.pdf,"[entergy louisiana , llc management's financia...",[the retail electric price variance is primari...,"[[, Amount (In Millions)], [2007 net revenue, ...",what is the net change in net revenue during 2...,"[{'op': 'add2-1', 'arg1': '-17.1', 'arg2': '-1...","add(-17.1, -12.0), add(#0, -7.4), add(#1, 4.6)",-31.9,-31.90000,None
3031,Single_HII/2012/page_86.pdf-1,HII,2012,HII/2012/page_86.pdf,[income and franchise tax provisions are alloc...,[the company evaluates the recoverability of i...,"[[, Years], [Land improvements, 3, -, 45], [Bu...",wha is the percentage change in the valuation ...,"[{'op': 'minus1-1', 'arg1': '21', 'arg2': '18'...","subtract(21, 18), divide(#0, 18)",16.7%,0.16667,None
3033,Single_CB/2009/page_81.pdf-1,CB,2009,CB/2009/page_81.pdf,[critical accounting estimates our consolidate...,[( 1 ) net of provision for uncollectible rein...,"[[, 2009, 2008], [(in millions of U.S. dollars...",what is the percentage change in gross unpaid ...,"[{'op': 'minus1-1', 'arg1': '37783', 'arg2': '...","subtract(37783, 37176), divide(#0, 37176)",1.63%,0.01633,None
3036,Single_CDW/2017/page_56.pdf-2,CDW,2017,CDW/2017/page_56.pdf,[table of contents ( 4 ) the increase in cash ...,[( 1 ) represents the rolling three-month aver...,"[[, December 31,], [(in days), 2017, 2016, 201...","what was the average capital expenditures , in...","[{'op': 'add2-1', 'arg1': '90', 'arg2': '64', ...","add(90, 64), divide(#0, const_2)",77,77.00000,None

In [48]:
tet = data_cut[data_cut['str_exe_answer'].notna()]
tet

,id,company,year,filename,pre_text,post_text,table_ori,question,steps,program,answer,exe_answer,str_exe_answer
90,Single_CDW/2015/page_34.pdf-2,CDW,2015,CDW/2015/page_34.pdf,[table of contents ( 2 ) includes capitalized ...,[net loss on extinguishment of long-term debt ...,"[[, Years Ended December 31,], [(in millions),...",did 2015 adjusted ebitda increase more than 20...,"[{'op': 'minus2-1', 'arg1': '1018.5', 'arg2': ...","subtract(1018.5, 907.0), subtract(1033.9, 792....",no,0.0,no
183,Single_UNP/2011/page_80.pdf-2,UNP,2011,UNP/2011/page_80.pdf,[the redemptions resulted in an early extingui...,[the majority of capital lease payments relate...,"[[<i>Millions</i>, <i>Operating</i><i>Leases</...",did the annual interest savings on the redempt...,"[{'op': 'multiply2-1', 'arg1': '400', 'arg2': ...","multiply(400, 6.65%), greater(#0, 5)",yes,0.0,yes
593,Single_UNP/2011/page_80.pdf-1,UNP,2011,UNP/2011/page_80.pdf,[the redemptions resulted in an early extingui...,[the majority of capital lease payments relate...,"[[<i>Millions</i>, <i>Operating</i><i>Leases</...",did the annual interest savings on the redempt...,"[{'op': 'multiply1-1', 'arg1': '175', 'arg2': ...","multiply(175, 6.5%), greater(#0, 16)",no,0.0,no
722,Single_UNP/2014/page_24.pdf-2,UNP,2014,UNP/2014/page_24.pdf,[generate cash without additional external fin...,[2015 outlook f0b7 safety 2013 operating a saf...,"[[<i>Millions</i>, <i>2014</i>, <i>2013</i>, <...",is 2014 operating cash flow sufficient to sati...,"[{'op': 'multiply2-1', 'arg1': '4.3', 'arg2': ...","multiply(4.3, const_1000), greater(7385, #0)",yes,0.0,yes
2001,Single_AWK/2018/page_162.pdf-2,AWK,2018,AWK/2018/page_162.pdf,[asset category target allocation total quoted...,"[balance as of january 1 , 2017 ., ., ., ., .,...","[[, Level 3], [Balance as of January 1, 2018, ...",was actual return on assets greater than purch...,"[{'op': 'multiply0-0', 'arg1': '23', 'arg2': '...","multiply(23, const_m1), greater(#0, -25)",yes,0.0,yes
2404,Single_MRO/2007/page_79.pdf-1,MRO,2007,MRO/2007/page_79.pdf,[derivative instruments see quantitative and q...,[( a ) following the issuance of the $ 1.0 bil...,"[[<i>(Dollars in millions)</i>, 2007, 2006], [...",did the company increase it's quarterly divide...,"[{'op': 'divide1-1', 'arg1': '0.92', 'arg2': '...","divide(0.92, const_4), greater(0.24, #0)",yes,0.0,yes
2507,Single_DISH/2002/page_94.pdf-4,DISH,2002,DISH/2002/page_94.pdf,[echostar communications corporation notes to ...,[total rent expense for operating leases appro...,"[[2003, $17,274], [2004, 14,424], [2005, 11,28...",are the commitments to acquire echostar receiv...,"[{'op': 'multiply2-1', 'arg1': '359', 'arg2': ...","multiply(359, const_1000), greater(#0, 55999)",yes,0.0,yes
2928,Single_UNP/2012/page_55.pdf-1,UNP,2012,UNP/2012/page_55.pdf,[notes to the consolidated financial statement...,[although our revenues are principally derived...,"[[<i>Millions</i>, <i>2012</i>, <i>2011</i>, <...",did freight revenue in the agricultural group ...,"[{'op': 'divide1-1', 'arg1': '3280', 'arg2': '...","divide(3280, 3324), divide(1807, 1510), greate...",no,0.0,no

In [49]:
data_cut.to_json("data/ConvFincQA_data.json", orient='index')

## Initial Testing

In [50]:
import requests

# Set the URL for the endpoint
url = "http://localhost:8000/answer_question"

def get_response(question):
# Create the data payload
    data = {
        "message": question,
        "status": "string"
    }

    # Make the POST request
    response = requests.post(url, json=data)

    # Check the response
    if response.status_code == 200:
        print("Response:", response.json())
        return response.json()['message']
    else:
        print("Request failed with status code:", response.status_code)

In [51]:
get_response("was was the average cost per share of the 2008 settlement of the 2007 forward repo contract?")

Response: {'message': '2.303703703703704e-05', 'status': 'Success'}

'2.303703703703704e-05'

In [52]:
testing_subset = data_cut[0:50].copy()


testing_subset['predicted_answer'] = testing_subset['question'].apply(lambda x: get_response(x))

Request failed with status code: 500
Request failed with status code: 500
Response: {'message': '-32.81974195164725', 'status': 'Success'}
Request failed with status code: 500
Request failed with status code: 500
Request failed with status code: 500
Request failed with status code: 500
Request failed with status code: 500
Request failed with status code: 500
Response: {'message': '0.9858794524139219', 'status': 'Success'}
Response: {'message': '158.82', 'status': 'Success'}
Request failed with status code: 500
Request failed with status code: 500
Request failed with status code: 500
Response: {'message': '64225', 'status': 'Success'}
Request failed with status code: 500
Request failed with status code: 500
Request failed with status code: 500
Request failed with status code: 500
Response: {'message': '-56.938719428414394', 'status': 'Success'}
Request failed with status code: 500
Request failed with status code: 500
Response: {'message': '377000', 'status': 'Success'}
Response: {'message': '31.147540983606557', 'status': 'Success'}
Request failed with status code: 500
Request failed with status code: 500
Response: {'message': '300', 'status': 'Success'}
Request failed with status code: 500
Response: {'message': '1.5432098765432098', 'status': 'Success'}
Response: {'message': '4090.3999999999996', 'status': 'Success'}
Request failed with status code: 500
Response: {'message': '0.32', 'status': 'Success'}
Request failed with status code: 500
Response: {'message': '76.78571428571429', 'status': 'Success'}
Response: {'message': '7.605453770771198', 'status': 'Success'}
Response: {'message': '16.82738669238187', 'status': 'Success'}
Response: {'message': '-20836', 'status': 'Success'}
Request failed with status code: 500
Response: {'message': '49.29577464788733', 'status': 'Success'}
Response: {'message': '294', 'status': 'Success'}
Request failed with status code: 500
Response: {'message': '1905.4', 'status': 'Success'}
Request failed with status code: 500
Request failed with status code: 500
Request failed with status code: 500
Request failed with status code: 500
Response: {'message': '348.32731883351215', 'status': 'Success'}
Request failed with status code: 500
Response: {'message': '644.500904159132', 'status': 'Success'}
Response: {'message': '45.30771207718008', 'status': 'Success'}

In [35]:
testing_subset

,id,company,year,filename,pre_text,post_text,table_ori,question,steps,program,answer,exe_answer,str_exe_answer,predicted_answer
0,Single_JKHY/2009/page_28.pdf-3,JKHY,2009,JKHY/2009/page_28.pdf,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...","[[, Year ended June 30, 2009], [2008, 2007], [...",what was the percentage change in the net cash...,"[{'op': 'minus2-1', 'arg1': '206588', 'arg2': ...","subtract(206588, 181001), divide(#0, 181001)",14.1%,0.14136,None,None
1,Single_RSG/2008/page_114.pdf-2,RSG,2008,RSG/2008/page_114.pdf,[substantially all of the goodwill and other i...,[the above unaudited pro forma financial infor...,"[[, Year Ended December 31, 2008 (Unaudited), ...",what was the percent of the growth in the reve...,"[{'op': 'minus2-1', 'arg1': '9362.2', 'arg2': ...","subtract(9362.2, 9244.9), divide(#0, 9244.9)",1.3%,0.01269,None,1.2688076669298867
2,Single_AAPL/2002/page_23.pdf-1,AAPL,2002,AAPL/2002/page_23.pdf,[in a new business model such as the retail se...,[.],"[[, 2002, 2001, 2000], [Net sales, $5,742, $5,...",what was the percentage change in net sales fr...,"[{'op': 'minus1-1', 'arg1': '5363', 'arg2': '7...","subtract(5363, 7983), divide(#0, 7983)",-32%,-0.32820,None,-32.81974195164725
3,Single_UPS/2009/page_33.pdf-2,UPS,2009,UPS/2009/page_33.pdf,[( 1 ) includes shares repurchased through our...,[.],"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",what was the difference in percentage cumulati...,"[{'op': 'minus2-1', 'arg1': '75.95', 'arg2': '...","subtract(75.95, const_100), divide(#0, const_1...",-26.16%,-0.26160,None,-0.26159999999999994
5,Single_CE/2010/page_134.pdf-2,CE,2010,CE/2010/page_134.pdf,[tax returns for 2001 and beyond are open for ...,[upon the termination of a participant 2019s e...,"[[, Shares Available for Awards, Shares Subj...",what portion of the total shares subject to ou...,"[{'op': 'add2-1', 'arg1': '2530454', 'arg2': '...","add(2530454, 5923147), divide(5923147, #0)",70.1%,0.70067,None,0.2993344493074608
6,Single_JPM/2013/page_104.pdf-2,JPM,2013,JPM/2013/page_104.pdf,[management 2019s discussion and analysis 110 ...,[( a ) period-end investment securities includ...,"[[As of or for the year ended December 31, (in...",what was the percentage increase in litigation...,"[{'op': 'minus2-1', 'arg1': '3.7', 'arg2': '3....","subtract(3.7, 3.2), divide(#0, 3.2)",15.6%,0.15625,None,None
8,Single_HIG/2004/page_122.pdf-2,HIG,2004,HIG/2004/page_122.pdf,[the following table identifies the company 20...,[[1] the following points are significant to u...,"[[, Total, Less than 1 year, 1-3 years, 3-5 ye...",what portion of total obligations are due with...,"[{'op': 'add2-1', 'arg1': '27729', 'arg2': '45...","add(27729, 45161), divide(#0, 317105)",22.99%,0.22986,None,None
9,Single_SLG/2013/page_133.pdf-4,SLG,2013,SLG/2013/page_133.pdf,"[during the years ended december 31 , 2013 , 2...",[weighted average fair value of restricted sto...,"[[, 2013, 2012, 2011], [Balance at beginning o...","for the years ended december 31 , 2013 , 2012 ...","[{'op': 'add1-1', 'arg1': '4.5', 'arg2': '4.1'...","add(4.5, 4.1), add(#0, 3.4)",12,12.00000,None,12.0
11,Single_ETR/2008/page_336.pdf-3,ETR,2008,ETR/2008/page_336.pdf,"[entergy mississippi , inc ., management's fin...",[the attala costs variance is primarily due to...,"[[, Amount (In Millions)], [2007 net revenue, ...",what is the percent change in net revenue betw...,"[{'op': 'minus2-1', 'arg1': '498.8', 'arg2': '...","subtract(498.8, 486.9), divide(#0, 486.9)",2.4%,0.02444,None,-3.2186459489456136
12,Single_BKR/2017/page_105.pdf-2,BKR,2017,BKR/2017/page_105.pdf,"[baker hughes , a ge company notes to consolid...",[( 1 ) share amounts reflected above are net o...,"[[, Class A Common Stock, Class B Common Stock...",what portion of the authorized shares of class...,"[{'op': 'multiply2-1', 'arg1': '1.25', 'arg2':...","multiply(1.25, const_1000), divide(707, #0)",56.6%,0.56560,None,1.674494561922086
14,Single_JPM/2016/page_73.pdf-4,JPM,2016,JPM/2016/page_73.pdf,[jpmorgan chase & co./2016 annual report 35 fi...,"[december 31 , ( in dollars ) .]","[[December 31,(in dollars), 2011, 2012, 2013, ...",what was the 5 year return of the kbw bank index?,"[{'op': 'minus2-1', 'arg1': '258.82', 'arg2': ...","subtract(258.82, const_100), divide(#0, const_...",158.82%,1.58820,None,158.82
17,Single_BLK/2017/page_35.pdf-4,BLK,2017,BLK/2017/page_35.pdf,[long-term product offerings include alpha-see...,[( 1 ) futureadvisor amounts do not include au...,"[[(in millions), December 31,2016, Net inflows...",what is the percentage change in the balance o...,"[{'op': 'minus1-1', 'arg1': '196545', 'arg2': ...","subtract(196545, 176675), divide(#0, 176675)",11.2%,0.11247,None,None
18,Single_HII/2015/page_120.pdf-4,HII,2015,HII/2015/page_120.pdf,[of exercise for stock options exercised or at...,"[( 1 ) in the second quarter of 2015 , the com...","[[, Year Ended December 31, 2015], [($ in mill...",between 2015 and 2013 what was the average com...,"[{'op': 'add2-1', 'arg1': '43', 'arg2': '34', ...","add(43, 34), add(#0, 44), divide(#1, const_3)",40.3,40.33333,None,None
19,Single_AMT/2002/page_104.pdf-2,AMT,2002,AMT/2002/page_104.pdf,[american tower corporation and subsidiaries n...,[.],"[[2003, $268,496], [2004, 131,262], [2005, 195...",what is the total expected payments for princi...,"[{'op': 'add2-1', 'arg1': '268496', 'arg2': '1...","add(268496, 131262), add(#0, 195082)",594840,594840.00000,None,594840
20,Single_VRTX/2005/page_103.pdf-1,VRTX,2005,VRTX/2005/page_103.pdf,"[value , which may be maturity , the company d...",[.],"[[, 2005, 2004], [Furniture and equipment, $98...",what is the percent change in net loss on disp...,"[{'op': 'minus1-1', 'arg1': '344000', 'arg2': ...","subtract(344000, 43000), divide(#0, 43000)",700%,7.00000,None,None
21,Single_STT/2013/page_54.pdf-4,STT,2013,STT/2013/page_54.pdf,[shareholder return performance presentation t...,[.],"[[, 2008, 2009, 2010, 2011, 2012, 2013], [Stat...",how much higher are the returns of the s&p 500...,"[{'op': 'divide2-1', 'arg1': '228', 'arg2': '1...","divide(228, 100), divide(#0, 100)",30%,0.02280,None,None
22,Single_GS/2014/page_62.pdf-2,GS,2014,GS/2014/page_62.pdf,[management 2019s discussion and analysis full...,[although the fully phased-in capital ratios a...,"[[, As of December], [<i>$ in millions</i>, 20...",what is the percentage change in standardized ...,"[{'op': 'minus2-1', 'arg1': '627444', 'arg2': ...","subtract(627444, 635092), divide(#0, 635092)",-1.2%,-0.01204,None,-1.2042349769797132
25,Single_ADI/2009/page_90.pdf-3,ADI,2009,ADI/2009/page_90.pdf,"[included in other non-current liabilities , b...",[fiscal year 2004 and 2005 irs examination dur...,"[[Balance, November 3, 2007, $9,889], [Additio...",what percentage did the balance increase from ...,"[{'op': 'minus1-1', 'arg1': '18161', 'arg2': '...","subtract(18161, 9889), divide(#0, 9889)",83.6%,0.83648,None,83.64849833147943
26,Single_AON/2007/page_185.pdf-4,AON,2007,AON/2007/page_185.pdf,[notes to consolidated financial statements at...,[aon corporation .],"[[2008, $317], [2009, 275], [2010, 236], [2011...",what is the percentual decrease observed in th...,"[{'op': 'minus2-1', 'arg1': '275', 'arg2': '31...","subtract(275, 317), divide(#0, 317)",13.25%,-0.13249,None,None
27,Single_ZBH/2002/page_46.pdf-3,ZBH,2002,ZBH/2002/page_46.pdf,"[z i m m e r h o l d i n g s , i n c ., a n d ...","[z i m m e r h o l d i n g s , i n c ., a n d ...","[[, 2002, 2001], [Credit Facility, $156.2, $35...",what was the percentage change of total debt f...,"[{'op': 'minus2-1', 'arg1': '156.7', 'arg2': '...","subtract(156.7, 363.9), divide(#0, 363.9)",-57%,-0.56939,None,None
28,Single_HII/2015/page_120.pdf-1,HII,2015,HII/2015/page_120.pdf,[of exercise for stock options exercised or at...,"[( 1 ) in the second quarter of 2015 , the com...","[[, Year Ended December 31, 2015], [($ in mill...",what is the total revenue for the fiscal year ...,"[{'op': 'add1-1', 'arg1': '1570', 'arg2': '174...","add(1570, 1745), add(#0, 1800), add(#1, 1905)",7020,7020.00000,None,7020
29,Single_AES/2002/page_117.pdf-2,AES,2002,AES/2002/page_117.pdf,"[affiliated company ., the loss recorded on th...","[in 2002 , 2001 and 2000 , the results of oper...","[[AS OF AND FOR THE YEARS ENDED DECEMBER 31,, ...",what was the percentage change in revenues for...,"[{'op': 'minus2-1', 'arg1': '6147', 'arg2': '6...","subtract(6147, 6241), divide(#0, 6241)",-2%,-0.01506,None,None
30,Single_ALXN/2016/page_89.pdf-1,ALXN,2016,ALXN/2016/page_89.pdf,[risks related to our common stock our stock p...,[we believe that our administrative office spa...,"[[Location, Operations Conducted, ApproximateS...",how many square feet are owned by the company?,"[{'op': 'add1-1', 'arg1': '160000', 'arg2': '8...","add(160000, 80000), add(#0, 70000), add(#1, 67...",377000,377000.00000,None,None
31,Single_AON/2018/page_41.pdf-3,AON,2018,AON/2018/page_41.pdf,[( 1 ) adjusted other income ( expense ) exclu...,[impact of foreign currency exchange rate fluc...,"[[Years Ended December 31, 2018, 2017, 2016], ...","considering the years 2017 and 2018 , what is ...","[{'op': 'divide2-1', 'arg1': '240', 'arg2': '1...","divide(240, 183), subtract(#0, const_1)",31.14%,0.31148,None,None
32,Single_RSG/2012/page_145.pdf-1,RSG,2012,RSG/2012/page_145.pdf,"[republic services , inc ., notes to consolida...",[we own a 19.9% ( 19.9 % ) interest in a compa...,"[[, 2012, 2011], [Financing proceeds, $24.7, $...",what was the percentage decline in the total r...,"[{'op': 'minus1-1', 'arg1': '164.2', 'arg2': '...","subtract(164.2, 189.6), divide(#0, 189.6)",-13.4%,-0.13397,None,None
34,Single_STT/2011/page_94.pdf-3,STT,2011,STT/2011/page_94.pdf,[we maintain an effective universal shelf regi...,[( 1 ) long-term debt excludes capital lease o...,"[[, PAYMENTS DUE BY PERIOD], [As of December 3...",what was the percent change in the value of co...,"[{'op': 'minus1-1', 'arg1': '2.80', 'arg2': '2...","subtract(2.80, 2.38), divide(#0, 2.38)",18%,0.17647,None,None
35,Single_L/2016/page_62.pdf-1,L,2016,L/2016/page_62.pdf,"[item 5 ., market for the registrant 2019s com...",[( a ) the loews peer group consists of the fo...,"[[, 2011, 2012, 2013, 2014, 2015, 2016], [Loew...",what was the growth rate of the s&p 500 index ...,"[{'op': 'minus1-1', 'arg1': '198.18', 'arg2': ...","subtract(198.18, 100.0), divide(#0, const_100)",98.2%,0.98180,None,None
36,Single_JPM/2009/page_206.pdf-3,JPM,2009,JPM/2009/page_206.pdf,[notes to consolidated financial statements jp...,[( a ) represents the sum of contractual princ...,"[[December 31, (in millions), 2009, 2008], [Ou...",what was the firm's average sum of contractual...,"[{'op': 'add2-1', 'arg1': '103369', 'arg2': '1...","add(103369, 118180), divide(#0, const_2)",$ 110774.5 million,110774.50000,None,None
37,Single_GS/2013/page_47.pdf-2,GS,2013,GS/2013/page_47.pdf,[management 2019s discussion and analysis net ...,"[1 ., related revenues are included in 201cmar...","[[, Year Ended December], [<i>$ in millions</i...",what is the percentage change in staff number ...,"[{'op': 'minus2-1', 'arg1': '32900', 'arg2': '...","subtract(32900, 32400), divide(#0, 32400)",1.5%,0.01543,None,1.5432098765432098
38,Single_WRK/2019/page_49.pdf-1,WRK,2019,WRK/2019/page_49.pdf,"[credit facilities ., as such , our foreign ca...",[net cash provided by operating activities dur...,"[[, Year Ended September 30,], [(In millions),...",in 2019 what was the net change in cash in mil...,"[{'op': 'add1-1', 'arg1': '2310.2', 'arg2': '-...","add(2310.2, -4579.6), add(#0, 1780.2)",-489.2,-489.20000,None,None
39,Single_LMT/2014/page_31.pdf-2,LMT,2014,LMT/2014/page_31.pdf,[purchases of equity securities the following ...,[total 1269242 ( c ) $ 185.23 1212228 $ 3671 (...,"[[Period<sup>(a)</sup>, Total Number of Shares...",what is the growth rate in the average price o...,"[{'op': 'minus2-1', 'arg1': '187.74', 'arg2': ...","subtract(187.74, 176.96), divide(#0, 176.96)",6.1%,0.06092,None,None
42,Single_ORLY/2015/page_28.pdf-4,ORLY,2015,ORLY/2015/page_28.pdf,[stock performance graph : the graph below sho...,[.],"[[, December 31,], [Company/Index, 2010, 2011,...",what is the roi of an investment in the o'reil...,"[{'op': 'minus1-1', 'arg1': '132', 'arg2': '10...","subtract(132, 100), divide(#0, 100)",32%,0.32000,None,32.0
43,Single_SWKS/2010/page_105.pdf-2,SWKS,2010,SWKS/2010/page_105.pdf,[31mar201122064257 positions which were requir...,[( 1 ) does not include restricted cash balanc...,"[[, Fiscal Years Ended], [(dollars in thousand...",what is the percent increase in cash and cash ...,"[{'op': 'minus1-1', 'arg1': '453257', 'arg2': ...","subtract(453257, 364221), divide(#0, 364221)",24.4%,0.24446,None,None
44,Single_MRO/2004/page_57.pdf-4,MRO,2004,MRO/2004/page_57.pdf,[gain or loss on ownership change in map resul...,[( a ) the deferred tax effect related to the ...,"[[, 2004, 2003, 2002], [Statutory tax rate, 35...",by what percent did effects of foreign operati...,"[{'op': 'minus2-1', 'arg1': '1.3', 'arg2': '5....","subtract(1.3, 5.6), divide(#0, 5.6)",-76.8%,-0.76786,None,-76.78571428571429
45,Single_ETR/2011/page_22.pdf-3,ETR,2011,ETR/2011/page_22.pdf,[entergy corporation and subsidiaries manageme...,[the volume/weather variance is primarily due ...,"[[, Amount (In Millions)], [2009 net revenue, ...",what was the percentage change of the net reve...,"[{'op': 'minus1-1', 'arg1': '5051', 'arg2': '4...","subtract(5051, 4694), divide(#0, 4694)",7.61%,0.07605,None,7.605453770771198
46,Single_IP/2007/page_19.pdf-2,IP,2007,IP/2007/page_19.pdf,"[item 7 ., management 2019s discussion and ana...",[* corporate special items include restructuri...,"[[<i>In millions</i>, 2007, 2006, 2005], [Indu...",what was the percentage change in industry seg...,"[{'op': 'minus2-1', 'arg1': '2423', 'arg2': '2...","subtract(2423, 2074), divide(#0, 2074)",17%,0.16827,None,None
47,Single_RCL/2006/page_37.pdf-2,RCL,2006,RCL/2006/page_37.pdf,"[note 9 ., retirement plan we maintain a defin...",[long-term debt ( including current portion of...,"[[, 2006, 2005], [Cash and cash equivalents, $...",what was the percentage increase in the cash a...,"[{'op': 'minus2-1', 'arg1': '104520', 'arg2': ...","subtract(104520, 125385), divide(#0, 125385)",-16.6%,-0.16641,None,-20865
48,Single_MRO/2008/page_135.pdf-1,MRO,2008,MRO/2008/page_135.pdf,[marathon oil corporation notes to consolidate...,[asset retirement obligations as of december 3...,"[[<i>(In millions)</i>, 2008, 2007], [Asset re...",by how much did asset retirement obligations d...,"[{'op': 'minus1-1', 'arg1': '965', 'arg2': '11...","subtract(965, 1134), divide(#0, 1134)",-14.9%,-0.14903,None,None
49,Single_IP/2009/page_36.pdf-1,IP,2009,IP/2009/page_36.pdf,"[mill in the fourth quarter of 2008 ., this co...",[north american printing papers net sales in 2...,"[[<i>In millions</i>, 2009, 2008, 2007], [Sale...",north american printing papers net sales where...,"[{'op': 'multiply1-1', 'arg1': '2.8', 'arg2': ...","multiply(2.8, const_1000), divide(#0, 5680)",49%,0.49296,None,None
51,Single_AAPL/2010/page_42.pdf-2,AAPL,2010,AAPL/2010/page_42.pdf,[table of contents research and development ex...,[.],"[[, 2010, 2009, 2008], [Interest income, $311,...",by how much did total other income and expense...,"[{'op': 'minus2-1', 'arg1': '620', 'arg2': '32...","subtract(620, 326), divide(#0, 620)",47.4%,0.47419,None,294
53,Single_GPN/2017/page_91.pdf-2,GPN,2017,GPN/2017/page_91.pdf,[leveraged performance units during the year e...,[the total fair value of restricted stock and ...,"[[, Shares (in thousands), Weighted-AverageGra...",what was the percentage chaning in the total f...,"[{'op': 'minus2-1', 'arg1': '33.7', 'arg2': '2...","subtract(33.7, 20.0), divide(#0, 20.0)",69%,0.68500,None,None
54,Single_RE/2013/page_40.pdf-1,RE,2013,RE/2013/page_40.pdf,[corporate income taxes other than withholding...,[.],"[[Calendar year:, Pre-tax catastrophe losses],...",what are the total pre-tax catastrophe losses ...,"[{'op': 'add1-1', 'arg1': '195.0', 'arg2': '41...","add(195.0, 410.0), add(#0, 1300.4)",1905.4,1905.40000,None,1905.4
55,Single_IP/2012/page_57.pdf-2,IP,2012,IP/2012/page_57.pdf,"[freesheet paper were higher in russia , but l...",[north american consumer packaging net sales w...,"[[In millions, 2012, 2011, 2010], [Sales, $3,1...",what percentage where north american consumer ...,"[{'op': 'multiply2-1', 'arg1': '2.5', 'arg2': ...","multiply(2.5, const_1000), divide(#0, 3710)",67%,0.67385,None,None
56,Single_ILMN/2006/page_86.pdf-3,ILMN,2006,ILMN/2006/page_86.pdf,"[in accordance with sfas no ., 142 , goodwill ...","[illumina , inc ., notes to consolidated finan...","[[, Year Ended January 1, 2006, Year Ended Jan...",what was the percent of the growth in the reve...,"[{'op': 'minus1-1', 'arg1': '73501', 'arg2': '...","subtract(73501, 50583), divide(#0, 50583)",45.3%,0.45308,None,45.30771207718008
58,Single_LKQ/2018/page_102.pdf-2,LKQ,2018,LKQ/2018/page_102.pdf,"[business subsequent to the acquisition ., the...",[rental expense for operating leases was appro...,"[[2019, $294,269], [2020, 256,172], [2021, 210...",what was the percentage change in rental expen...,"[{'op': 'minus2-1', 'arg1': '300', 'arg2': '24...","subtract(300, 247), divide(#0, 247)",21%,0.21457,None,None
59,Single_DRE/2007/page_39.pdf-4,DRE,2007,DRE/2007/page_39.pdf,"[in february 2008 , we issued $ 300.0 million ...",[dividends and distributions in order to quali...,"[[, 2007, 2006, 2005], [Recurring tenant impro...",what was the percent of the growth in the recu...,"[{'op': 'minus1-1', 'arg1': '45296', 'arg2': '...","subtract(45296, 41895), divide(#0, 41895)",8.1%,0.08118,None,8.117913832199546
60,Single_DISCA/2012/page_54.pdf-4,DISCA,2012,DISCA/2012/page_54.pdf,[stock performance graph the following graph s...,[equity compensation plan information informat...,"[[, December 31,2008, December 31,2009, Decemb...",what was the percentage cumulative total share...,"[{'op': 'minus1-1', 'arg1': '459.67', 'arg2': ...","subtract(459.67, const_100), divide(#0, const_...",359.67%,3.59670,None,3.491104594330401
61,Single_MMM/2007/page_38.pdf-2,MMM,2007,MMM/2007/page_38.pdf,[cash flows from operating activities can fluc...,"[investments in property , plant and equipment...","[[(Millions), 2007, 2006, 2005], [Purchases of...",what was the percentage change in the net cash...,"[{'op': 'minus2-1', 'arg1': '-1367', 'arg2': '...","subtract(-1367, -1460), divide(#0, -1460)",-6.4%,-0.06370,None,-6.36986301369863
62,Single_D/2002/page_39.pdf-2,D,2002,D/2002/page_39.pdf,[other taxes decreased in 2001 because its uti...,[* amounts presented are for electricity suppl...,"[[(millions, except pershare amounts), 2002, 2...","if the 2003 growth rate is the same as 2002 , ...","[{'op': 'divide2-1', 'arg1': '597', 'arg2': '5...","divide(597, 553), multiply(#0, 597)",645,644.50090,None,None
64,Single_ILMN/2006/page_86.pdf-1,ILMN,2006,ILMN/2006/page_86.pdf,"[in accordance with sfas no ., 142 , goodwill ...","[illumina , inc ., notes to consolidated finan...","[[, Year Ended January 1, 2006, Year Ended Jan...",what was the percentage change in revenues bet...,"[{'op': 'minus1-1', 'arg1': '73501', 'arg2': '...","subtract(73501, 50583), divide(#0, 50583)",45%,0.45308,None,None

In [371]:
testing_subset_2 = data_cut[0:25].copy()


testing_subset_2['predicted_answer'] = testing_subset_2['question'].apply(lambda x: get_response(x))

Response: {'message': '0.1413638598681775', 'status': 'Success'}
Response: {'message': '0.012688076669298868', 'status': 'Success'}
Response: {'message': '-32.81974195164725', 'status': 'Success'}
Response: {'message': '-26.159999999999997', 'status': 'Success'}
Response: {'message': '0.9177997307992953', 'status': 'Success'}
Response: {'message': '-47.38691588785046', 'status': 'Success'}
Request failed with status code: 500
Response: {'message': '36000000', 'status': 'Success'}
Response: {'message': '-3.2186459489456136', 'status': 'Success'}
Response: {'message': '0.06981556351292115', 'status': 'Success'}
Response: {'message': '1.5881999999999998', 'status': 'Success'}
Response: {'message': '11.246639309466534', 'status': 'Success'}
Response: {'message': '83.0', 'status': 'Success'}
Response: {'message': '14391288', 'status': 'Success'}
Response: {'message': '-15.090696769170883', 'status': 'Success'}
Response: {'message': '128.0', 'status': 'Success'}
Response: {'message': '-0.012042349769797131', 'status': 'Success'}
Response: {'message': '83.64849833147943', 'status': 'Success'}
Response: {'message': '0.13249211356466878', 'status': 'Success'}
Response: {'message': '-56.938719428414394', 'status': 'Success'}
Response: {'message': '7020', 'status': 'Success'}
Response: {'message': '-1.506168883191796', 'status': 'Success'}
Response: {'message': '514000', 'status': 'Success'}
Response: {'message': '31.147540983606557', 'status': 'Success'}
Response: {'message': '-0.13396624472573843', 'status': 'Success'}

In [372]:
testing_subset_2

,id,company,year,filename,pre_text,post_text,table_ori,question,steps,program,answer,exe_answer,str_exe_answer,predicted_answer
0,Single_JKHY/2009/page_28.pdf-3,JKHY,2009,JKHY/2009/page_28.pdf,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...","[[, Year ended June 30, 2009], [2008, 2007], [...",what was the percentage change in the net cash...,"[{'op': 'minus2-1', 'arg1': '206588', 'arg2': ...","subtract(206588, 181001), divide(#0, 181001)",14.1%,0.14136,None,0.1413638598681775
1,Single_RSG/2008/page_114.pdf-2,RSG,2008,RSG/2008/page_114.pdf,[substantially all of the goodwill and other i...,[the above unaudited pro forma financial infor...,"[[, Year Ended December 31, 2008 (Unaudited), ...",what was the percent of the growth in the reve...,"[{'op': 'minus2-1', 'arg1': '9362.2', 'arg2': ...","subtract(9362.2, 9244.9), divide(#0, 9244.9)",1.3%,0.01269,None,0.012688076669298868
2,Single_AAPL/2002/page_23.pdf-1,AAPL,2002,AAPL/2002/page_23.pdf,[in a new business model such as the retail se...,[.],"[[, 2002, 2001, 2000], [Net sales, $5,742, $5,...",what was the percentage change in net sales fr...,"[{'op': 'minus1-1', 'arg1': '5363', 'arg2': '7...","subtract(5363, 7983), divide(#0, 7983)",-32%,-0.32820,None,-32.81974195164725
3,Single_UPS/2009/page_33.pdf-2,UPS,2009,UPS/2009/page_33.pdf,[( 1 ) includes shares repurchased through our...,[.],"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",what was the difference in percentage cumulati...,"[{'op': 'minus2-1', 'arg1': '75.95', 'arg2': '...","subtract(75.95, const_100), divide(#0, const_1...",-26.16%,-0.26160,None,-26.159999999999997
5,Single_CE/2010/page_134.pdf-2,CE,2010,CE/2010/page_134.pdf,[tax returns for 2001 and beyond are open for ...,[upon the termination of a participant 2019s e...,"[[, Shares Available for Awards, Shares Subj...",what portion of the total shares subject to ou...,"[{'op': 'add2-1', 'arg1': '2530454', 'arg2': '...","add(2530454, 5923147), divide(5923147, #0)",70.1%,0.70067,None,0.9177997307992953
6,Single_JPM/2013/page_104.pdf-2,JPM,2013,JPM/2013/page_104.pdf,[management 2019s discussion and analysis 110 ...,[( a ) period-end investment securities includ...,"[[As of or for the year ended December 31, (in...",what was the percentage increase in litigation...,"[{'op': 'minus2-1', 'arg1': '3.7', 'arg2': '3....","subtract(3.7, 3.2), divide(#0, 3.2)",15.6%,0.15625,None,-47.38691588785046
8,Single_HIG/2004/page_122.pdf-2,HIG,2004,HIG/2004/page_122.pdf,[the following table identifies the company 20...,[[1] the following points are significant to u...,"[[, Total, Less than 1 year, 1-3 years, 3-5 ye...",what portion of total obligations are due with...,"[{'op': 'add2-1', 'arg1': '27729', 'arg2': '45...","add(27729, 45161), divide(#0, 317105)",22.99%,0.22986,None,None
9,Single_SLG/2013/page_133.pdf-4,SLG,2013,SLG/2013/page_133.pdf,"[during the years ended december 31 , 2013 , 2...",[weighted average fair value of restricted sto...,"[[, 2013, 2012, 2011], [Balance at beginning o...","for the years ended december 31 , 2013 , 2012 ...","[{'op': 'add1-1', 'arg1': '4.5', 'arg2': '4.1'...","add(4.5, 4.1), add(#0, 3.4)",12,12.00000,None,36000000
11,Single_ETR/2008/page_336.pdf-3,ETR,2008,ETR/2008/page_336.pdf,"[entergy mississippi , inc ., management's fin...",[the attala costs variance is primarily due to...,"[[, Amount (In Millions)], [2007 net revenue, ...",what is the percent change in net revenue betw...,"[{'op': 'minus2-1', 'arg1': '498.8', 'arg2': '...","subtract(498.8, 486.9), divide(#0, 486.9)",2.4%,0.02444,None,-3.2186459489456136
12,Single_BKR/2017/page_105.pdf-2,BKR,2017,BKR/2017/page_105.pdf,"[baker hughes , a ge company notes to consolid...",[( 1 ) share amounts reflected above are net o...,"[[, Class A Common Stock, Class B Common Stock...",what portion of the authorized shares of class...,"[{'op': 'multiply2-1', 'arg1': '1.25', 'arg2':...","multiply(1.25, const_1000), divide(707, #0)",56.6%,0.56560,None,0.06981556351292115
14,Single_JPM/2016/page_73.pdf-4,JPM,2016,JPM/2016/page_73.pdf,[jpmorgan chase & co./2016 annual report 35 fi...,"[december 31 , ( in dollars ) .]","[[December 31,(in dollars), 2011, 2012, 2013, ...",what was the 5 year return of the kbw bank index?,"[{'op': 'minus2-1', 'arg1': '258.82', 'arg2': ...","subtract(258.82, const_100), divide(#0, const_...",158.82%,1.58820,None,1.5881999999999998
17,Single_BLK/2017/page_35.pdf-4,BLK,2017,BLK/2017/page_35.pdf,[long-term product offerings include alpha-see...,[( 1 ) futureadvisor amounts do not include au...,"[[(in millions), December 31,2016, Net inflows...",what is the percentage change in the balance o...,"[{'op': 'minus1-1', 'arg1': '196545', 'arg2': ...","subtract(196545, 176675), divide(#0, 176675)",11.2%,0.11247,None,11.246639309466534
18,Single_HII/2015/page_120.pdf-4,HII,2015,HII/2015/page_120.pdf,[of exercise for stock options exercised or at...,"[( 1 ) in the second quarter of 2015 , the com...","[[, Year Ended December 31, 2015], [($ in mill...",between 2015 and 2013 what was the average com...,"[{'op': 'add2-1', 'arg1': '43', 'arg2': '34', ...","add(43, 34), add(#0, 44), divide(#1, const_3)",40.3,40.33333,None,83.0
19,Single_AMT/2002/page_104.pdf-2,AMT,2002,AMT/2002/page_104.pdf,[american tower corporation and subsidiaries n...,[.],"[[2003, $268,496], [2004, 131,262], [2005, 195...",what is the total expected payments for princi...,"[{'op': 'add2-1', 'arg1': '268496', 'arg2': '1...","add(268496, 131262), add(#0, 195082)",594840,594840.00000,None,14391288
20,Single_VRTX/2005/page_103.pdf-1,VRTX,2005,VRTX/2005/page_103.pdf,"[value , which may be maturity , the company d...",[.],"[[, 2005, 2004], [Furniture and equipment, $98...",what is the percent change in net loss on disp...,"[{'op': 'minus1-1', 'arg1': '344000', 'arg2': ...","subtract(344000, 43000), divide(#0, 43000)",700%,7.00000,None,-15.090696769170883
21,Single_STT/2013/page_54.pdf-4,STT,2013,STT/2013/page_54.pdf,[shareholder return performance presentation t...,[.],"[[, 2008, 2009, 2010, 2011, 2012, 2013], [Stat...",how much higher are the returns of the s&p 500...,"[{'op': 'divide2-1', 'arg1': '228', 'arg2': '1...","divide(228, 100), divide(#0, 100)",30%,0.02280,None,128.0
22,Single_GS/2014/page_62.pdf-2,GS,2014,GS/2014/page_62.pdf,[management 2019s discussion and analysis full...,[although the fully phased-in capital ratios a...,"[[, As of December], [<i>$ in millions</i>, 20...",what is the percentage change in standardized ...,"[{'op': 'minus2-1', 'arg1': '627444', 'arg2': ...","subtract(627444, 635092), divide(#0, 635092)",-1.2%,-0.01204,None,-0.012042349769797131
25,Single_ADI/2009/page_90.pdf-3,ADI,2009,ADI/2009/page_90.pdf,"[included in other non-current liabilities , b...",[fiscal year 2004 and 2005 irs examination dur...,"[[Balance, November 3, 2007, $9,889], [Additio...",what percentage did the balance increase from ...,"[{'op': 'minus1-1', 'arg1': '18161', 'arg2': '...","subtract(18161, 9889), divide(#0, 9889)",83.6%,0.83648,None,83.64849833147943
26,Single_AON/2007/page_185.pdf-4,AON,2007,AON/2007/page_185.pdf,[notes to consolidated financial statements at...,[aon corporation .],"[[2008, $317], [2009, 275], [2010, 236], [2011...",what is the percentual decrease observed in th...,"[{'op': 'minus2-1', 'arg1': '275', 'arg2': '31...","subtract(275, 317), divide(#0, 317)",13.25%,-0.13249,None,0.13249211356466878
27,Single_ZBH/2002/page_46.pdf-3,ZBH,2002,ZBH/2002/page_46.pdf,"[z i m m e r h o l d i n g s , i n c ., a n d ...","[z i m m e r h o l d i n g s , i n c ., a n d ...","[[, 2002, 2001], [Credit Facility, $156.2, $35...",what was the percentage change of total debt f...,"[{'op': 'minus2-1', 'arg1': '156.7', 'arg2': '...","subtract(156.7, 363.9), divide(#0, 363.9)",-57%,-0.56939,None,-56.938719428414394
28,Single_HII/2015/page_120.pdf-1,HII,2015,HII/2015/page_120.pdf,[of exercise for stock options exercised or at...,"[( 1 ) in the second quarter of 2015 , the com...","[[, Year Ended December 31, 2015], [($ in mill...",what is the total revenue for the fiscal year ...,"[{'op': 'add1-1', 'arg1': '1570', 'arg2': '174...","add(1570, 1745), add(#0, 1800), add(#1, 1905)",7020,7020.00000,None,7020
29,Single_AES/2002/page_117.pdf-2,AES,2002,AES/2002/page_117.pdf,"[affiliated company ., the loss recorded on th...","[in 2002 , 2001 and 2000 , the results of oper...","[[AS OF AND FOR THE YEARS ENDED DECEMBER 31,, ...",what was the percentage change in revenues for...,"[{'op': 'minus2-1', 'arg1': '6147', 'arg2': '6...","subtract(6147, 6241), divide(#0, 6241)",-2%,-0.01506,None,-1.506168883191796
30,Single_ALXN/2016/page_89.pdf-1,ALXN,2016,ALXN/2016/page_89.pdf,[risks related to our common stock our stock p...,[we believe that our administrative office spa...,"[[Location, Operations Conducted, ApproximateS...",how many square feet are owned by the company?,"[{'op': 'add1-1', 'arg1': '160000', 'arg2': '8...","add(160000, 80000), add(#0, 70000), add(#1, 67...",377000,377000.00000,None,514000
31,Single_AON/2018/page_41.pdf-3,AON,2018,AON/2018/page_41.pdf,[( 1 ) adjusted other income ( expense ) exclu...,[impact of foreign currency exchange rate fluc...,"[[Years Ended December 31, 2018, 2017, 2016], ...","considering the years 2017 and 2018 , what is ...","[{'op': 'divide2-1', 'arg1': '240', 'arg2': '1...","divide(240, 183), subtract(#0, const_1)",31.14%,0.31148,None,31.147540983606557
32,Single_RSG/2012/page_145.pdf-1,RSG,2012,RSG/2012/page_145.pdf,"[republic services , inc ., notes to consolida...",[we own a 19.9% ( 19.9 % ) interest in a compa...,"[[, 2012, 2011], [Financing proceeds, $24.7, $...",what was the percentage decline in the total r...,"[{'op': 'minus1-1', 'arg1': '164.2', 'arg2': '...","subtract(164.2, 189.6), divide(#0, 189.6)",-13.4%,-0.13397,None,-0.13396624472573843

In [375]:
testing_subset_3 = data_cut[0:25].copy()


testing_subset_3['predicted_answer'] = testing_subset_3['question'].apply(lambda x: get_response(x))

Response: {'message': '0.1413638598681775', 'status': 'Success'}
Response: {'message': '1.2688076669298867', 'status': 'Success'}
Response: {'message': '-32.81974195164725', 'status': 'Success'}
Response: {'message': '-25.619430026442068', 'status': 'Success'}
Response: {'message': '1.0', 'status': 'Success'}
Response: {'message': '0.027603661365841314', 'status': 'Success'}

:

In [ ]:
testing_subset_3

,id,company,year,filename,pre_text,post_text,table_ori,question,steps,program,answer,exe_answer,str_exe_answer,predicted_answer
0,Single_JKHY/2009/page_28.pdf-3,JKHY,2009,JKHY/2009/page_28.pdf,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...","[[, Year ended June 30, 2009], [2008, 2007], [...",what was the percentage change in the net cash...,"[{'op': 'minus2-1', 'arg1': '206588', 'arg2': ...","subtract(206588, 181001), divide(#0, 181001)",14.1%,0.14136,None,14.136385986817752
1,Single_RSG/2008/page_114.pdf-2,RSG,2008,RSG/2008/page_114.pdf,[substantially all of the goodwill and other i...,[the above unaudited pro forma financial infor...,"[[, Year Ended December 31, 2008 (Unaudited), ...",what was the percent of the growth in the reve...,"[{'op': 'minus2-1', 'arg1': '9362.2', 'arg2': ...","subtract(9362.2, 9244.9), divide(#0, 9244.9)",1.3%,0.01269,None,1.2688076669298867
2,Single_AAPL/2002/page_23.pdf-1,AAPL,2002,AAPL/2002/page_23.pdf,[in a new business model such as the retail se...,[.],"[[, 2002, 2001, 2000], [Net sales, $5,742, $5,...",what was the percentage change in net sales fr...,"[{'op': 'minus1-1', 'arg1': '5363', 'arg2': '7...","subtract(5363, 7983), divide(#0, 7983)",-32%,-0.32820,None,-32.81974195164725
3,Single_UPS/2009/page_33.pdf-2,UPS,2009,UPS/2009/page_33.pdf,[( 1 ) includes shares repurchased through our...,[.],"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",what was the difference in percentage cumulati...,"[{'op': 'minus2-1', 'arg1': '75.95', 'arg2': '...","subtract(75.95, const_100), divide(#0, const_1...",-26.16%,-0.26160,None,-25.619430026442068
5,Single_CE/2010/page_134.pdf-2,CE,2010,CE/2010/page_134.pdf,[tax returns for 2001 and beyond are open for ...,[upon the termination of a participant 2019s e...,"[[, Shares Available for Awards, Shares Subj...",what portion of the total shares subject to ou...,"[{'op': 'add2-1', 'arg1': '2530454', 'arg2': '...","add(2530454, 5923147), divide(5923147, #0)",70.1%,0.70067,None,0.9177997307992953
6,Single_JPM/2013/page_104.pdf-2,JPM,2013,JPM/2013/page_104.pdf,[management 2019s discussion and analysis 110 ...,[( a ) period-end investment securities includ...,"[[As of or for the year ended December 31, (in...",what was the percentage increase in litigation...,"[{'op': 'minus2-1', 'arg1': '3.7', 'arg2': '3....","subtract(3.7, 3.2), divide(#0, 3.2)",15.6%,0.15625,None,365421
8,Single_HIG/2004/page_122.pdf-2,HIG,2004,HIG/2004/page_122.pdf,[the following table identifies the company 20...,[[1] the following points are significant to u...,"[[, Total, Less than 1 year, 1-3 years, 3-5 ye...",what portion of total obligations are due with...,"[{'op': 'add2-1', 'arg1': '27729', 'arg2': '45...","add(27729, 45161), divide(#0, 317105)",22.99%,0.22986,None,1.9592125949381103
9,Single_SLG/2013/page_133.pdf-4,SLG,2013,SLG/2013/page_133.pdf,"[during the years ended december 31 , 2013 , 2...",[weighted average fair value of restricted sto...,"[[, 2013, 2012, 2011], [Balance at beginning o...","for the years ended december 31 , 2013 , 2012 ...","[{'op': 'add1-1', 'arg1': '4.5', 'arg2': '4.1'...","add(4.5, 4.1), add(#0, 3.4)",12,12.00000,None,114121601
11,Single_ETR/2008/page_336.pdf-3,ETR,2008,ETR/2008/page_336.pdf,"[entergy mississippi , inc ., management's fin...",[the attala costs variance is primarily due to...,"[[, Amount (In Millions)], [2007 net revenue, ...",what is the percent change in net revenue betw...,"[{'op': 'minus2-1', 'arg1': '498.8', 'arg2': '...","subtract(498.8, 486.9), divide(#0, 486.9)",2.4%,0.02444,None,-0.032186459489456136
12,Single_BKR/2017/page_105.pdf-2,BKR,2017,BKR/2017/page_105.pdf,"[baker hughes , a ge company notes to consolid...",[( 1 ) share amounts reflected above are net o...,"[[, Class A Common Stock, Class B Common Stock...",what portion of the authorized shares of class...,"[{'op': 'multiply2-1', 'arg1': '1.25', 'arg2':...","multiply(1.25, const_1000), divide(707, #0)",56.6%,0.56560,None,0.06981556351292115
14,Single_JPM/2016/page_73.pdf-4,JPM,2016,JPM/2016/page_73.pdf,[jpmorgan chase & co./2016 annual report 35 fi...,"[december 31 , ( in dollars ) .]","[[December 31,(in dollars), 2011, 2012, 2013, ...",what was the 5 year return of the kbw bank index?,"[{'op': 'minus2-1', 'arg1': '258.82', 'arg2': ...","subtract(258.82, const_100), divide(#0, const_...",158.82%,1.58820,None,1.5881999999999998
17,Single_BLK/2017/page_35.pdf-4,BLK,2017,BLK/2017/page_35.pdf,[long-term product offerings include alpha-see...,[( 1 ) futureadvisor amounts do not include au...,"[[(in millions), December 31,2016, Net inflows...",what is the percentage change in the balance o...,"[{'op': 'minus1-1', 'arg1': '196545', 'arg2': ...","subtract(196545, 176675), divide(#0, 176675)",11.2%,0.11247,None,11.246639309466534
18,Single_HII/2015/page_120.pdf-4,HII,2015,HII/2015/page_120.pdf,[of exercise for stock options exercised or at...,"[( 1 ) in the second quarter of 2015 , the com...","[[, Year Ended December 31, 2015], [($ in mill...",between 2015 and 2013 what was the average com...,"[{'op': 'add2-1', 'arg1': '43', 'arg2': '34', ...","add(43, 34), add(#0, 44), divide(#1, const_3)",40.3,40.33333,None,0.0
19,Single_AMT/2002/page_104.pdf-2,AMT,2002,AMT/2002/page_104.pdf,[american tower corporation and subsidiaries n...,[.],"[[2003, $268,496], [2004, 131,262], [2005, 195...",what is the total expected payments for princi...,"[{'op': 'add2-1', 'arg1': '268496', 'arg2': '1...","add(268496, 131262), add(#0, 195082)",594840,594840.00000,None,89071920
20,Single_VRTX/2005/page_103.pdf-1,VRTX,2005,VRTX/2005/page_103.pdf,"[value , which may be maturity , the company d...",[.],"[[, 2005, 2004], [Furniture and equipment, $98...",what is the percent change in net loss on disp...,"[{'op': 'minus1-1', 'arg1': '344000', 'arg2': ...","subtract(344000, 43000), divide(#0, 43000)",700%,7.00000,None,0.32386142467886336
21,Single_STT/2013/page_54.pdf-4,STT,2013,STT/2013/page_54.pdf,[shareholder return performance presentation t...,[.],"[[, 2008, 2009, 2010, 2011, 2012, 2013], [Stat...",how much higher are the returns of the s&p 500...,"[{'op': 'divide2-1', 'arg1': '228', 'arg2': '1...","divide(228, 100), divide(#0, 100)",30%,0.02280,None,128.0
22,Single_GS/2014/page_62.pdf-2,GS,2014,GS/2014/page_62.pdf,[management 2019s discussion and analysis full...,[although the fully phased-in capital ratios a...,"[[, As of December], [<i>$ in millions</i>, 20...",what is the percentage change in standardized ...,"[{'op': 'minus2-1', 'arg1': '627444', 'arg2': ...","subtract(627444, 635092), divide(#0, 635092)",-1.2%,-0.01204,None,0.012042349769797131
25,Single_ADI/2009/page_90.pdf-3,ADI,2009,ADI/2009/page_90.pdf,"[included in other non-current liabilities , b...",[fiscal year 2004 and 2005 irs examination dur...,"[[Balance, November 3, 2007, $9,889], [Additio...",what percentage did the balance increase from ...,"[{'op': 'minus1-1', 'arg1': '18161', 'arg2': '...","subtract(18161, 9889), divide(#0, 9889)",83.6%,0.83648,None,83.64849833147943
26,Single_AON/2007/page_185.pdf-4,AON,2007,AON/2007/page_185.pdf,[notes to consolidated financial statements at...,[aon corporation .],"[[2008, $317], [2009, 275], [2010, 236], [2011...",what is the percentual decrease observed in th...,"[{'op': 'minus2-1', 'arg1': '275', 'arg2': '31...","subtract(275, 317), divide(#0, 317)",13.25%,-0.13249,None,-13.249211356466878
27,Single_ZBH/2002/page_46.pdf-3,ZBH,2002,ZBH/2002/page_46.pdf,"[z i m m e r h o l d i n g s , i n c ., a n d ...","[z i m m e r h o l d i n g s , i n c ., a n d ...","[[, 2002, 2001], [Credit Facility, $156.2, $35...",what was the percentage change of total debt f...,"[{'op': 'minus2-1', 'arg1': '156.7', 'arg2': '...","subtract(156.7, 363.9), divide(#0, 363.9)",-57%,-0.56939,None,-0.569387194284144
28,Single_HII/2015/page_120.pdf-1,HII,2015,HII/2015/page_120.pdf,[of exercise for stock options exercised or at...,"[( 1 ) in the second quarter of 2015 , the com...","[[, Year Ended December 31, 2015], [($ in mill...",what is the total revenue for the fiscal year ...,"[{'op': 'add1-1', 'arg1': '1570', 'arg2': '174...","add(1570, 1745), add(#0, 1800), add(#1, 1905)",7020,7020.00000,None,7020
29,Single_AES/2002/page_117.pdf-2,AES,2002,AES/2002/page_117.pdf,"[affiliated company ., the loss recorded on th...","[in 2002 , 2001 and 2000 , the results of oper...","[[AS OF AND FOR THE YEARS ENDED DECEMBER 31,, ...",what was the percentage change in revenues for...,"[{'op': 'minus2-1', 'arg1': '6147', 'arg2': '6...","subtract(6147, 6241), divide(#0, 6241)",-2%,-0.01506,None,-0.015061688831917962
30,Single_ALXN/2016/page_89.pdf-1,ALXN,2016,ALXN/2016/page_89.pdf,[risks related to our common stock our stock p...,[we believe that our administrative office spa...,"[[Location, Operations Conducted, ApproximateS...",how many square feet are owned by the company?,"[{'op': 'add1-1', 'arg1': '160000', 'arg2': '8...","add(160000, 80000), add(#0, 70000), add(#1, 67...",377000,377000.00000,None,None
31,Single_AON/2018/page_41.pdf-3,AON,2018,AON/2018/page_41.pdf,[( 1 ) adjusted other income ( expense ) exclu...,[impact of foreign currency exchange rate fluc...,"[[Years Ended December 31, 2018, 2017, 2016], ...","considering the years 2017 and 2018 , what is ...","[{'op': 'divide2-1', 'arg1': '240', 'arg2': '1...","divide(240, 183), subtract(#0, const_1)",31.14%,0.31148,None,0.3114754098360656
32,Single_RSG/2012/page_145.pdf-1,RSG,2012,RSG/2012/page_145.pdf,"[republic services , inc ., notes to consolida...",[we own a 19.9% ( 19.9 % ) interest in a compa...,"[[, 2012, 2011], [Financing proceeds, $24.7, $...",what was the percentage decline in the total r...,"[{'op': 'minus1-1', 'arg1': '164.2', 'arg2': '...","subtract(164.2, 189.6), divide(#0, 189.6)",-13.4%,-0.13397,None,0.13396624472573843